ul{
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    padding: 0;
}
li{
    padding: 10px 0;
    font-weight: bold;
}
#options{
    display: flex;
    justify-content: space-around;
}
#options div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19%;
}
#options div h3{
    margin-bottom: 10px;
}
#options div:first-of-type{
    background-color: purple;
}
#options div:nth-of-type(2){
    background-color: lightblue;
}
#options div:nth-of-type(3){
    background-color: lightgreen;
}
#options div:nth-of-type(4){
    background-color: orange;
}
#options div:nth-of-type(5){
    background-color: magenta;
}